.container {
  display: flex;
  border: 2px dashed black;
  width: 500px;
  margin: auto;
}

.box {
  box-sizing: border-box;
  background-color: #c3dbeb;
  border: 2px solid #608ba8;
  height: 100px;
}

/* flex-grow and flex-shrink can only be applied on child elements */
/* The flex-basis property specifies the initial length of a flexible item. */

.box1 {
  flex-grow: 2;
  flex-basis: 200px;
  flex-shrink: 1;
}

.box2 {
  flex-grow: 1;
  flex-basis: 200px;
  flex-shrink: 1;
}

.box3 {
  flex-grow: 1;
  flex-basis: 200px;
  flex-shrink: 2;
}