.row {
  display: flex;
}

.column-2 {
  width: 50%;
  border: 1px solid #ddd;
  box-sizing: border-box;
  height: 200px;
  background-color: #f0f0f0;
}

.column-3 {
  width: 33.3%;
  border: 1px solid #ddd;
  box-sizing: border-box;
  height: 200px;
  background-color: #f0f0f0;
}

.header,.footer{
    border: 2px solid black;
    background-color: #4CAF50;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.main-content{
    border: 2px solid black;
}

.row{
    margin-bottom: 20px;
}